PORT=5000
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/emoiss?retryWrites=true&w=majority
CLIENT_ORIGIN=http://localhost:5173
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
NOTIFY_EMAIL=hello@emoiss.com
FROM_EMAIL=noreply@emoiss.com
